<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/style2.css" />
  </head>
  <body>
     <header>
    <div class="brand"><a href="#">TASK MANAGER</a></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">Sign up</a></li>
            <li><a href="/login">Log in</a></li>
        </ul>
    </nav>
</header>
    <div class="container">
      <div class="center">
          <h1>Login into personalised DB <% logout%></h1>
          
        
          <form action="/log" method="post">
            <label for="email">E-mail<input type="text" name="email"><br></label><br>
            <label for="password">Password<input type="password" name="password"><br></label><br>
            <button type="submit">Submit</button>  
              <div class="signup_link">
                  Not a Member ? <a href="/user">Signup</a>
              </div>
          </form>
      </div>
    </div>
  </body>
</html>