@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



.dash-title  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 5rem;
    background: linear-gradient(180deg, #fd9c6f 0%, #fcb15c 100%);
    margin-bottom: 40px;
}
.task-input{
   margin-left: 25%;
}
.task-input input, button{
    padding: 10px;
}
button{
    background-color: lightblue
}


.task-container{
    width: 500px;
    height: 150px;
    margin: auto;
    outline: solid 1px black;
}
.task-container h4{
    text-align: center;
    padding-top: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

 .dash-title h1, h5, a { 
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #080808;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 3rem;
}
 